body {
    padding: 70px;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 50px;
    color: #fff;
    line-height: 100px;
    text-align: center;
    background: #818a91;
}
